body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #0d1117;
    color: #c9d1d9;
    text-align: center;  
}
body.light-mode {
  background: #ffffff;
  color: #000000;
}

body.light-mode header {
  background: #f0f0f0;
}

body.light-mode .btn {
  background: #005cc5;
  color: white;
}

header{
    background: #161b22;
    padding: 20px;
}
header nav a{
    color: #58a6ff;
    margin: 0 10px;
    text-decoration: wavy;
}
.hero{
    padding: 40px;
}
.hero img{
    width: 150px;
    border-radius: 50%;
}
.btn{
    background: #238636;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}
.Project-Card{
    background: #161b22;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.contact-form {
  max-width: 500px;
  margin: 40px auto;
  background: #161b22;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.contact-form button {
  background: #238636;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.contact-form button:hover {
  background: #2ea043;
}

.social-links a {
  color: #58a6ff;
  text-decoration: none;
  margin: 0 5px;
}
